* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

header a {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 24px;
  background-image: url(./images/header-illustration-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

section h1 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  margin: 29px auto;
  width: 327px;
}

section h1 span {
  color: #36b37e;
}

section p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  margin: 29px auto;
  width: 327px;
}

section .social {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin: 32px 0;
  list-style-type: none;
  padding: 0;
}

section > img {
  margin: 40px 0;
  height: 40px;
}
