* {
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

nav h2 {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 24px;
  background-image: url(./images/header-illustration-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

main h1 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  margin: 29px auto;
  width: 327px;
}

main h1 span {
  color: #36b37e;
}

main p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  margin: 29px auto;
  width: 327px;
}

main .social {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin: 32px 0px;
}

main > img {
  margin: 40px 0;
  height: 40px;
}
